/* Global Styles */
:root {
    --m-width: 1200px;
    --blue: #456282;
    --dark: #222;
    --like: #66f466;
    --dislike: crimson;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: var(--dark);
    line-height: 1.6;
    min-height: 100vh;
}

.theme {
    position: absolute;
    top: 8px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
}

svg {
    width: 20px;
}

@keyframes up {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.light svg.dark-btn {
    transform: rotate(0deg);
    animation-name: up;
    animation-duration: 1s;
}

.light svg.light-btn {
    visibility: hidden;
}

.dark svg.light-btn {
    transform: rotate(0deg);
    animation-name: up;
    animation-duration: 1s;
}

.dark svg.dark-btn {
    visibility: hidden;
}



header {
    background: url('../imgs/golden-gate-bridge-bay-sunset.jpg.webp') center center no-repeat;
    background-size: cover;
    padding: 50px 0;
    background-position: 70% 40%;
    position: relative;
}

header, footer {
    color: #eee;
    text-align: center;
    max-width: var(--m-width);
    margin: auto;
}

section.container {
    max-width: var(--m-width);
    margin: auto;
    min-height: 100vh;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    font-family: 'Arial', sans-serif;
    user-select: none;
    background: linear-gradient(to right, rgba(0, 0, 0, .0), rgba(0, 0, 0, .2), rgba(0, 0, 0, .0));
}

/* Navbar Styles */
nav {
    background-color: var(--blue);
    text-align: center;
    font-family: 'Arial', sans-serif;
    max-width: var(--m-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow:0 0px 5px #222 inset, 0 0px 5px #222;
    border-radius: 0 0 15px 15px;
}
.dark nav {
    box-shadow:0 0px 5px #eee inset, 0 0px 5px #eee;

}
.links {
    display: flex;
    align-items: center;
}

nav p,
nav a {
    color: #eee;
    text-decoration: none;
    margin: 0 20px;
    padding: 5px 10px;
    font-size: 15px;
    text-transform: uppercase;
}

nav a:hover {
    background: #375577;
}

input, textarea {
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #eee;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

textarea {
    resize: none;
}

.bxtn {
    background-color: #555;
    color: #eee;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
}

/* Button Styles */
.btn {
    background-color: #444;
    color:#eee;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    border: 2px solid #fafafa;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #222;
}

footer {
    margin-top: 10rem;
    font-size: 12px;
    user-select: none;
}

.stats {
    font-size: 13px;
}

/* Footer Styling */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
    font-size: 14px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ffcc00;
    /* Highlight color */
}

footer p {
    font-size: 14px;
    margin-top: 10px;
    color: #bbb;
    /* Lighter text for the copyright */
}


.liked {
    border-color: var(--like) !important;
    color: var(--like) !important;
}

.disliked {
    color: var(--dislike) !important;
    border-color: var(--dislike) !important;
}


@media screen and (max-width:1200px) {
    body {
        padding: 0 30px;
    }
}

@media screen and(max-width:768px) {

    nav a {
        margin: 0 10px;
    }
}

@media (prefers-color-scheme: dark) {}