h1 {
    font-size: 2.5em;
    margin: 0;
    font-family: 'Arial', sans-serif;
}


article {
    max-width: var(--m-width);
    box-sizing: border-box;
    background-color: #fff;
    border-top: 15px solid #41597b;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    margin: 20px auto;
}

.container h2 {
    font-size: 2em;
    color: #333;
}

.post-author {
    font-size: 13px;
    margin: 0;
    background: #dcdddd;
    border-bottom: 3px solid #b2b6c4;
    color: #555;
    padding: 0 5px;

}


.post-content {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #444;
    font-size: 1.1em;
}

.post-details {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

.dislike {
    margin-left: 4px;
}

.remove button {
    display: none;
}

.post-details p {
    margin: 5px 0;
    display: inline-block;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.liked {
    border: 2px solid green;
}

/* Comment Section Styles */
#commentSection {
    margin-top: 40px;
}

#commentSection h3 {
    font-size: 1.8em;
    color: #eee;
}

#commentsContainer {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#commentFormContainer {
    margin-top: 20px;
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#commentFormContainer input[type="text"],
#commentFormContainer textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

#commentFormContainer button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    text-transform: uppercase;
}

#commentFormContainer button:hover {
    background-color: #333;
}


.comment {
    background: #41597b;
    color: #fff;
    padding: 5px;
    margin: 5px 0;
}

.comment .author {
    font-size: 14px;
    font-weight: 800;
    border-bottom: 1px solid #f1f1f1;
    display: inline-block;
}

.comment .author span {
    font-style: 10px;
    color: #bbb;
    font-weight: 500;
}

.comment>p {
    color: #fff;
}

.comment span {
    font-size: 12px;

}

.comment .interact {
    margin-top: 5px;
}

.comment .like, .comment .dislike {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.comment .like:hover svg {
    stroke: cyan;
}

.comment .dislike:hover svg {
    stroke: red;
}

.add-comment {
    margin: auto;
    margin-bottom: 5rem;
    max-width: var(--m-width);
}

.add-comment textarea {
    display: block;
    width: 100%;
}

@media (prefers-color-scheme: dark) {

    .post-content {
        background-color: var(--dark);
        color: #eee;
    }

    .post-details {
        color: #eee;
        background-color: var(--dark);
    }
}