h1 {
    color: #fff;
}

#profileContainer {
    background-color: var(--blue);
    padding: 20px;
    color: #fff;

}

input {
    background-color: var(--blue);
    border: 1px solid #eee;
    color: #fff;
    outline: none;
    padding: 4px;
    user-select: none;
}

.wrapper span {
    display: inline-block;
    min-width: 100px;
}

.todo-comment{
    color: #90b090;
}