h2 {
    color: #fff;
}

#profileContainer {
    background-color: var(--blue);
    padding: 20px;
    color: #fff;

}

input {
    background-color: var(--blue);
    border: 1px solid #eee;
    color: #fff;
    outline: none;
    padding: 4px;
    user-select: none;
}

.wrapper p span {
    display: inline-block;
    min-width: 100px;
}

.todo-comment {
    color: #90b090;
}

.posts {
    width: var(--m-width);
    margin: auto;
    color: #eee;
}

.posts .wrapper {
    max-width: var(--m-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.posts .wrapper .post {
    background: #456282;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px #111;
    position: relative;
    /* to keep the details at the bottom */
    display: grid;
    grid-template-rows: 1fr auto;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details div {
    display: flex;
    align-items: center;

}

.details div span {
    margin: 5px;
}

.post>svg {
    position: absolute;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.posts span {
    font-size: 14px;
    color: #fff;
}