h2 {
    color: #fff;
}

#profileContainer {
    background-color: var(--blue);
    padding: 20px;
    color: #fff;

}

input {
    background-color: var(--blue);
    border: 1px solid #eee;
    color: #fff;
    outline: none;
    padding: 4px;
    user-select: none;
}

.wrapper p span {
    display: inline-block;
    min-width: 100px;
}

.todo-comment {
    color: #90b090;
}

.posts {
    max-width: var(--m-width);
    margin: auto;
    color: #eee;
}

.posts .wrapper {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 25px;
}

.posts .wrapper .post {
    background-color: #456282;
    padding: 10px 10px 0px;
    border-radius: 10px;
    box-shadow: 2px 4px 6px #121b24;
    position: relative;
    /* to keep the details at the bottom */
    display: grid;
    grid-template-rows: 1fr auto;
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;}

.posts .wrapper .post:hover {
    background-color: #283c53;
}
.posts .wrapper .post:hover>svg {
    transform: rotate(180deg);
    top: 5px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #283c53;
    padding: 0 5px;
    border-radius: 7px 7px 0 0;
}

.details div {
    display: flex;
    align-items: center;

}

.details div span {
    margin: 5px;
}

.post>svg {
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
    transition: top 0.3s, transform 0.5s;
}

.posts span {
    font-size: 13px;
}