

/* Container for the registration form */
.container {

    min-height: 100vh;

}
.wrapper{
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(245, 209, 209, 0.1);
}
.register-form h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: var(--dark);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 15px;
}

button:hover {
    background-color: #222;
}
 

p a {
    color: #444;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
